
.wrapper {
    width: 330px;
    font-family: 'Helvetica';
    font-size: 14px;
}

.StepProgress {
    position: relative;
    padding-left: 1000px;
    list-style: none;
}
.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
}
.StepProgress-item {
    position: relative;
}


.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}

.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 50px;
}
.StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 20px;
    height: 20px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
}


.StepProgress-item.is-done::before {
    border-left: 2px solid #046E79;
}



.StepProgress-item::after {
        content: "✔";
        font-size: 13px;
        color: #FFF;
        text-align: center;
        border: 2px solid #046E79;
    
        
        background-color: #046E79;
}




.StepProgress-item.current::before {
    border-left: 2px solid grey;
}


.StepProgress-item.current::after {
    padding-top: 1px;
    width: 25px;
    height: 25px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: grey;
    border: 2px solid grey;
    background-color: white;
}

.StepProgress strong {
    display: block;
}

.StepProgress-item.current :hover{
    content: "✔";
        font-size: 13px;
        color: #FFF;
        text-align: center;
        border: 2px solid #046E79;
    
        border-left: 2px solid #046E79;
        background-color: #046E79;
}
