

<!--

<nav class="navmenu">
    <ul class="StepProgress wrapper">
        <li class="StepProgress-item is-done" ><a href="#"><img src="../../assets/p1.png"></a></li>
        <li class="StepProgress-item current" ><a href="#"><img src="../../assets/p2.png"></a></li>
        <li class="StepProgress-item current"><a href="#"><img src="../../assets/p3.png"></a></li>
    </ul>

</nav>
-->
    



<div style="margin-left:10px">
    <div class="wrapper">
    <ul class="StepProgress">
        <a href="#"><div class="StepProgress-item is-done" > <img src="../../assets/p1.png"></div></a>
        <a href="#"><div class="StepProgress-item current" > <img src="../../assets/p2.png"></div></a>
        <a href="#"><div class="StepProgress-item current"> <img src="../../assets/p3.png"></div></a>
    </ul>
    </div>
    </div>



